@font-face {
  font-family: "basketball";
  src: url("./images/fonts/basketball-font.ttf") format("truetype");
}
body {
  margin: 50px;
  overflow: hidden;
}

/* Basketball Theme CSS */
#basketball {
  background-image: url("./images/basketball-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bball-background {
  background-image: url("./images/bball-landing.jpg");
  background-size: cover;
}

.basketball-theme {
  background-image: url("./images/bballcourt.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

#basketball #player-score {
  font-family: basketball;
}

#basketball .player-card {
  font-family: "Arial Narrow", Arial, sans-serif;
  border: white 3px solid;
  background-color: black;
  color: white;
  font-size: 1.9em;
}
#basketball #footer {
  color: black;
}

#basketball #game-notification {
  color: white;
}
/* End Basketball CSS */

/* Soccer CSS */
#soccer {
  background-image: url("./images/soccer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* .container-fluid.soccer {
  background-color: seagreen;
} */

.soccer-theme {
  background-image: url("./images/soccerfield.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.soccer-background {
  background-image: url("./images/soccer-landing.jpg");
  background-size: cover;
}
/*End Soccer CSS */

#game-board {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

.player-card {
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-card > .row {
  border: 1px black solid;
}

.player-controls {
  font-size: 1.4em;
  text-align: center;
  display: flex;
  justify-content: center;
}

#game-notification {
  font-size: 3em;
  text-align: center;
  padding: 30px;
}

#footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title {
  font-size: 2em;
}
