@font-face {
  font-family: "basketball";
  src: url("./images/fonts/basketball-font.ttf") format("truetype");
}
@font-face {
  font-family: "pong";
  src: url("./images/fonts/pong.ttf") format("truetype");
}

@font-face {
  font-family: "pong-normal";
  src: url("./images/fonts/pongnormal.ttf") format("truetype");
}

@font-face {
  font-family: "pong-score";
  src: url("./images/fonts/pong-score.ttf") format("truetype");
}

body {
  margin: 0 50px;
  overflow: hidden;
}

#game-board {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

.player-card {
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-card > .row {
  border: 1px black solid;
}

.player-controls {
  font-size: 1.4em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.player-controls img {
  height: 100px;
  padding: 10px 10px;
}

#game-notification {
  font-size: 3em;
  text-align: center;
  padding: 30px;
}

#back-button {
  padding: 20px 20px 0px 0px;
}

#footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.modal-content {
  color: black;
}

/* Classic CSS */
.classic {
  background-color: black;
  color: white;
  font-family: pong;
}

.classic-theme {
  background-image: url("./images/classic-canvas.png");
  background-size: 100% 400px;
  background-repeat: no-repeat;
  border: 4px solid white;
}

.classic-background {
  background-image: url("./images/classic-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.classic-background:hover{
  -webkit-transform: scale(1.1);
}

.classic #player-score {
  font-family: pong-score !important;
}
/*End Soccer CSS */

/* Basketball Theme CSS */
.basketball {
  background-image: url("./images/basketball-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bball-background {
  background-image: url("./images/basketball-landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bball-background:hover{
  -webkit-transform: scale(1.1);
}

.basketball-theme {
  background-image: url("./images/basketball-canvas.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.basketball #player-score {
  font-family: basketball;
}

.basketball .player-card {
  font-family: "Arial Narrow", Arial, sans-serif;
  border: white 3px solid;
  background-color: black;
  color: white;
  font-size: 1.9em;
}

.basketball #footer {
  color: black;
}

.basketball #game-notification {
  color: white;
}
/* End Basketball CSS */

/* Soccer CSS */
.soccer {
  background-image: url("./images/soccer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .container-fluid.soccer {
    background-color: seagreen;
  } */

.soccer-theme {
  background-image: url("./images/soccer-canvas.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.soccer-background {
  background-image: url("./images/soccer-landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.soccer-background:hover{
  -webkit-transform: scale(1.1);
}
/*End Soccer CSS */

/* Balls Of Fury CSS */
.ballsoffury {
  background-image: url("./images/ballsoffury-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ballsoffury-theme {
  background-image: url("./images/ballsoffury-canvas.png");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.ballsoffury-background {
  background-image: url("./images/ballsoffury-landing.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ballsoffury-background:hover{
  -webkit-transform: scale(1.1);
}
/*End Soccer CSS */

/* Landing Page */
#landing {
  background-color: black;
  color: white;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#landing #title {
  font-family: pong;
  font-size: 1em;
  padding: 10px;
}

#landing #title b {
  font-family: pong-normal !important;
}

#landing #sub-title {
  font-size: 2em;
}

#landing #theme-picker {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

#landing #theme-picker button {
  margin: 20px;
  border-radius: 20px;
  height: 120px;
}
/* END Landing  */

/* Video CSS */

#myVideo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-left: 5%;
}


/*Logo Flip CSS */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}