@font-face {
  font-family: "basketball";
  src: url("./images/fonts/basketball-font.ttf") format("truetype");
}
@font-face {
  font-family: "pong";
  src: url("./images/fonts/pong.ttf") format("truetype");
}

@font-face {
  font-family: "pong-normal";
  src: url("./images/fonts/pongnormal.ttf") format("truetype");
}

@font-face {
  font-family: "pongscore";
  src: url("./images/fonts/pongscore2.ttf") format("truetype");
}

body {
  margin: 0 50px;
  overflow: hidden;
}

#game-screen {
  width: 100%;
  height: 400px;
  text-align: center;
}

#game-board {
  width: 100%;
  height: 400px;
}

#game-screen-message {
  position: absolute;
  left: 45%;
  top: 135px;
  font-size: 6em;
}

.player-card {
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-card > .row {
  border: 1px black solid;
}

.player-controls {
  font-size: 1.4em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.player-controls img {
  height: 100px;
  padding: 10px 10px;
}

#game-notification {
  font-size: 3em;
  text-align: center;
  padding: 30px;
}

#footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title {
  font-size: 2.5em;
}

.modal-content {
  color: black;
}

#start-game {
  max-height: 55px;
  font-size: 30px;
  margin: auto;
}

/* Classic CSS */
.classic, modal > #classic {
  background-color: black;
  color: white;
  font-family: pong;
}

.classic-theme {
  background-image: url("./images/classic-canvas.png");
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 4px white solid;
  border-bottom: 4px white solid;
}

.classic-background {
  background-image: url("./images/classic-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.classic #player-score {
  font-size: 3em;
}
/*End Classic CSS */

/* Basketball Theme CSS */
.basketball, modal > #basketball {
  background-image: url("./images/basketball-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bball-background {
  background-image: url("./images/basketball-landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.basketball-theme {
  background-image: url("./images/basketball-canvas.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.basketball .player-card {
  font-family: "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}

.basketball #player-score {
  font-family: basketball;
  font-size: 3em;
  border: white 3px solid;
  background-color: black;
  padding: 20px;
  color: red;
}

.basketball #footer {
  color: black;
}

.basketball #game-notification {
  color: white;
}
/* End Basketball CSS */

/* Soccer CSS */
.soccer, modal > #soccer {
  background-image: url("./images/soccer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .container-fluid.soccer {
    background-color: seagreen;
  } */

.soccer-theme {
  background-image: url("./images/soccer-canvas.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.soccer-background {
  background-image: url("./images/soccer-landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/*End Soccer CSS */

/* Balls Of Fury CSS */
.ballsoffury, modal > #ballsoffury {
  background-image: url("./images/ballsoffury-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ballsoffury-theme {
  background-image: url("./images/ballsoffury-canvas.png");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}

.ballsoffury-background {
  background-image: url("./images/ballsoffury-landing.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/*End Soccer CSS */

/* Landing Page */
#landing {
  background-color: black;
  color: white;
  text-align: center;
  background-image: url("./images/atari-logo-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 175px;
}

#landing #title {
  font-family: pong;
  font-size: 5em;
}

#landing #title b {
  font-family: pong-normal !important;
}

#landing #sub-title {
  font-size: 2em;
}

#landing #theme-picker {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  align-content: center;
  justify-content: center;
}

#landing #theme-picker button {
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
  height: 160px;
}
/* END Landing  */